version: 2

jobs:
  build:
    resource_class: small
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            make clean
            poetry install --no-ansi --no-interaction
      - run:
          name: Run Tests
          command: |
            make coverage
      - store_artifacts:
        path: htmlcov
      - store_test_results:
          path: ./test-results
